<!DOCTYPE html>
<html lang="en">
<head>
  <script>window.jsonData=<%- jsonData %></script>
</head>
<body class="container">
  <section id="content"><%- content %></section>
  <script src="/js/bundle.js"></script>
</body>
</html>
